# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List commonly used open source development environments for Data Science
* Evaluating arithmetic operations in Python
* Publish jupyter notebook on Github Public Repository

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit Learn

| Data Science Tools |
|-----------------|
|Jupyter Notebooks|
|RStudio|
|Anaconda Navigator|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins/60
print(hours)

3.3333333333333335

## Author
Taimoor Shahzad